USE [master]
GO
/****** Object:  Database [LTM]    Script Date: 11/15/2021 12:28:21 PM ******/
CREATE DATABASE [LTM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LTM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LTM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LTM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LTM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTM]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTK]    Script Date: 11/15/2021 12:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTK]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(ID_TK) FROM TAIKHOAN) = 0
		SET @ID = '0' 
	ELSE
		SELECT @ID = MAX(RIGHT(ID_TK, 3)) FROM TAIKHOAN /*lấy 3 kí tự bên phải */
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'TK00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1) /* Tăng ID+1, int->char, ID mới = "TK00" + số mới tăng */
			WHEN @ID >= 9 THEN 'TK0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDuser]    Script Date: 11/15/2021 12:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDuser]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(ID_user) FROM USER_TK) = 0
		SET @ID = '0' 
	ELSE
		SELECT @ID = MAX(RIGHT(ID_user, 3)) FROM USER_TK /*lấy 3 kí tự bên phải */
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'Us00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1) /* Tăng ID+1, int->char, ID mới = "Us00" + số mới tăng */
			WHEN @ID >= 9 THEN 'Us0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/15/2021 12:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_TK] [char](5) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_TK]    Script Date: 11/15/2021 12:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_TK](
	[ID_user] [char](5) NOT NULL,
	[ID_TK] [char](5) NOT NULL,
	[Lastname] [nvarchar](30) NOT NULL,
	[Nameuser] [nvarchar](30) NOT NULL,
	[Date_of_birth] [date] NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TAIKHOAN] ([ID_TK], [UserName], [Password], [Status]) VALUES (N'TK001', N'taikhoan1', N'123456', N'1')
INSERT [dbo].[TAIKHOAN] ([ID_TK], [UserName], [Password], [Status]) VALUES (N'TK002', N'taikhoan2', N'123457', N'1')
INSERT [dbo].[TAIKHOAN] ([ID_TK], [UserName], [Password], [Status]) VALUES (N'TK003', N'taikhoan3', N'123457', N'1')
GO
INSERT [dbo].[USER_TK] ([ID_user], [ID_TK], [Lastname], [Nameuser], [Date_of_birth], [Status]) VALUES (N'Us001', N'TK001', N'Nguyễn Văn', N'Anh', CAST(N'1998-04-01' AS Date), N'1')
INSERT [dbo].[USER_TK] ([ID_user], [ID_TK], [Lastname], [Nameuser], [Date_of_birth], [Status]) VALUES (N'Us002', N'TK002', N'Nguyễn Hoàng', N'Lan', CAST(N'1999-03-27' AS Date), N'1')
INSERT [dbo].[USER_TK] ([ID_user], [ID_TK], [Lastname], [Nameuser], [Date_of_birth], [Status]) VALUES (N'Us003', N'TK003', N'Trần Phương', N'Linh', CAST(N'1998-02-27' AS Date), N'1')
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [IDTK]  DEFAULT ([DBO].[AUTO_IDTK]()) FOR [ID_TK]
GO
ALTER TABLE [dbo].[USER_TK] ADD  CONSTRAINT [IDuser]  DEFAULT ([DBO].[AUTO_IDuser]()) FOR [ID_user]
GO
ALTER TABLE [dbo].[USER_TK]  WITH CHECK ADD  CONSTRAINT [fk_TK_user] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_TK] CHECK CONSTRAINT [fk_TK_user]
GO
USE [master]
GO
